@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

#my-card{
    margin-top:100px;
    #cards-wrapper{
        padding:0;
        margin:0;

        .card-row{
            border-bottom: 1px solid #2a2a2a;
            display:grid;
            grid-template-columns: 2fr 6fr 2fr;

            .state-header,
            .card-header,
            .controls-header{
                display:flex;
                justify-content: center;
                align-items: center;

                h3{
                    font-family: "Montserrat";
                    font-size: 22px;
                    color:#2a2a2a;
                    border-bottom:1px solid #2a2a2a;
                }
            }

            .state-wrapper{
                display:flex;
                justify-content: center;
                align-items: center;

                .state{
                    width:40%;
                    padding:15px 20px;
                    border:1px solid #2a2a2a;
                    border-radius:35px;
                    font-family: 'Montserrat';
                    font-size:20px;
                    font-weight: bold;
                    font-style: italic;
                    color:#2a2a2a;
                    text-align: center;

                    &.active{
                        color: #fff;
                        background: #33CC99;
                        border: 1px solid #ddd;
                        box-shadow: 0 5px 20px #2a2a2a;
                    }
                }
            }

            .card-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .controls-wrapper{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .option{
                    width: 50%;
                    overflow:hidden;
                    margin:10px 0;
                    border:1px solid #ddd;
                    border-radius:25px;
                    @include transition(0.25s);

                    &:hover{
                        cursor: pointer;
                        background: #eaeaea;
                        border:1px solid #2a2a2a;

                        a{
                            color:#2a2a2a;
                        }
                    }

                    a{
                        text-align: center;
                        display:block;
                        padding:10px 0;
                    }

                    &.delete{
                        
                        &:hover{
                            border:1px solid #ddd;
                            background:#ea3434;
                            
                            a{
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
    }
}