@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

.fu-btn-wrapper{
    position: relative;
    display:flex;
    justify-content: center;
    width:100px;
    height:100px;
    padding:5px;
    background: #fff;
    border: 2px dashed #ccc;

    &:hover{
        cursor: pointer;
    }
    
    img {
        width:100%;
        height:100%;
        z-index:5;
    }

    a{
        align-self: center;
        text-decoration: none;
        font-family: "Montserrat";
        text-transform: uppercase;
    }

    input[type=file]{
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
        z-index:5;
        width:100%;
        height:100%;
    }

    &.dragover{
        border-color: #2a2a2a;
    }
}