@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

#content-wrapper{
    margin-top:100px;

    #filter-container{
        border-bottom: 1px solid #eaeaea;
        display:flex;
        flex-direction: row;
        justify-content: center;

        .filter-column{
            flex:1;
            display:flex;
            flex-direction: column;
            padding:10px 25px;

            label{
                font-family: "Montserrat";
                font-size:18px;
                color:#2a2a2a;
            }
        }

        #button-container{
            width:100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left:1px solid #ddd;
            background: #fff;
            @include transition(0.25s);

            &:hover{
                border-left:1px solid #66EE99;
                background: #33CC99;

                .set-button{
                    cursor:pointer;
                }
            }
            .set-button{
                width:100px;
                color:#2a2a2a;
                text-align:center;
            }
        }
    }
}