@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

#header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100px;
    z-index: 10;
    background: #ea3434;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-menu{
        padding: 0;
        list-style: none;
        margin:0;
        display:flex;
        flex-direction: row;
        width:50%;

        .menu-option{
            flex:1;
            @include transition(0.15s);

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                height:100px;
                font-family: "Montserrat";
                font-size:20px;
                text-decoration: none;
                color:#fff;
            }

            &:hover{
                background: #fff;
                a{
                    color:#2a2a2a;
                }
            }
        }
    }
}