@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

.card{
    border: 1px solid #2a2a2a;
    margin:15px;
    padding:5px;
    width:500px;
    height: 200px;
    position: relative;
    overflow:hidden;

    .name{
        position: absolute;
        bottom: 65px;
        z-index:2;
    }

    .title{
        position: absolute;
        bottom: 45px;
        z-index:2;
    }

    .company{
        font-weight:bold;
    }

    .phone-number{
        position: absolute;
        bottom: 25px;
        z-index:2;
    }

    .e-mail{
        position: absolute;
        bottom: 5px;
        z-index:2;
    }

    .menu-btn{
        position: absolute;
        top:10px;
        right:10px;
        background: #ea3434;
        z-index:4;
        a{
            padding:5px;
            color:#fff;
        }
    }

    .card-hover{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: #2a2a2aea;
        z-index:3;
    }

    .menu-option{
        display:flex;
        justify-content: center;
        align-items: center;

        a{
            color:#2196F3;
        }
    }
}