@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

#content{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 8fr 2fr;
    min-height: 100%;
    
    .form-wrapper{
        border: 1px solid #2a2a2a;
        padding:25px;
    }
}