@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

#timeline-wrapper{
    #timeline{
        margin-top:100px;
        display:flex;
        justify-content:center;

        #history-wrapper{
            width:50%;
            padding: 0;
            margin: 0;
            list-style: none;

            .card-wrapper{
                display:flex;
                flex-direction: column;
                align-items: center;

                .date{
                    margin-bottom: 0;
                    font-family: "Montserrat";
                    font-size: 20px;
                    color: #2a2a2a;
                    border: 1px solid #2a2a2a;
                    padding:10px 15px;
                    border-radius: 25px;
                }
            }
        }
    }
}