@import "_variables.scss";
html,body {
    min-height: 100%;
    height: 100%;
}
div{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

#root{
    min-height: 100%;
    height:100%;
}

.input-field{
    
}

#form{

}