@mixin transition($duration:0.25){
    transition: all ease-in-out $duration;
    -webkit-transition: all ease-in-out $duration;
    -moz-transition: all ease-in-out $duration;
    -o-transition: all ease-in-out $duration;
}