@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

.icon-control-wrapper{
    display:flex;
    height: 100%;
    flex-direction: column;

    .icon-control-header{
        flex:1;
        display:grid;
        background: #eaeaea;
        list-style: none;
        border-bottom:1px solid #aaa;
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(3, 1fr);

        .icon-control-option{
            @include transition(0.25);

            a{
                display:block;
                text-decoration: none;
                font-family: 'Montserrat';
                color: #2a2a2a;
                text-align: center;
            }

            &:hover{
                cursor: pointer;
                background: #fff;
            }

            &.active{
                background: #fff;
            }
        }
    }

    .icon-control{
        flex:4;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height:140px;
    }
}

.text-control-wrapper{
    .section-name{
        font-size:20px;
        font-family: "Montserrat";
        margin:0;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }

    .text-controls{
        display:grid;
        grid-template-areas: 
            "font-size font-weight"
            "font-style font-color";
        .text-control{
            width:100%;
            padding:5px 10px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            label{
                font-family: "Montserrat";
                font-size:14px;
                color:#2a2a2a;
            }

            .font-styler{
                padding: 3px 5px;
                width: 40%;
                margin-left: 10px;
            }

            .font-size{
                grid-area: "font-size"
            }

            .font-weight{
                grid-area: "font-weight"
            }

            .font-color{
                grid-area: "font-color"
            }

            .font-style{
                grid-area: "font-style"
            }
        }
    }
}

.size-control{
    .size-control-row{
        display:flex;
        flex-direction: column;
    }
}

.rotation-control{
    width: 100%;
    height: 100%;
    padding: 20px;
    .rotation-control-row{
        margin-top:10px;
        display:flex;
        flex-direction: row;
        align-items: center;

        label{
            width:50px;
            text-align: center;
            margin-right:15px;
        }

        .checkbox{
            border:1px solid #ddd;
            width: 20px;
            height: 20px;
            display:flex;
            justify-content: center;
            align-items: center;

            &.active{
                background: #33cc99;
                border:1px solid #33cc99;
            }
        }
    }
}

.slider-control{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 0 25px;
}