@import "compass";
@import "../partials/_normalize.scss";
@import "../partials/_base.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixin.scss";
@import "../partials/_variables.scss";
@import "../partials/fonts";

#design{
    margin-top:100px;
    min-height:600px;
    display:grid;
    grid-template-columns: 5fr 2fr; 

    #card-wrapper{
        position: relative;
        background:#fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .option-btn{
            position: absolute;
            overflow:hidden;
            border-radius: 25px;

            a{
                font-family: "Montserrat";
                background: #33CC99;
                display:block;
                padding:10px 25px;
                color:#fff;
                @include transition(0.25s);

                &:hover{
                    cursor: pointer;
                    color:#33CC99;
                    background: #fff;
                }
            }
        }

        .save{
            top:15px;
            right:15px;
            border: 1px solid #66DD99;
        }

        .reset{
            top:15px;
            left:15px;
            border: 1px solid #e45454;
            @include transition(0.25s);

            &:hover{
                border: 1px solid #ea3434;
            }

            a{
                background: #ea3434;
                color:#fff;
                &:hover{
                    color:#ea3434;
                }
            }
        }
    }

    #info-wrapper{
        display:grid;
        border-left:1px solid #2a2a2a;
        align-items: center;
        grid-template-rows: 2fr 8fr;
        background: #fff;
        border-right:1px solid #2a2a2a;

        .subtitle{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #aaa;

            h3{
                margin: 0;
                padding: 0;
                font-family: 'Montserrat';
                font-size:24px;
                font-weight: 300;
            }
        }
        .input-section{
            width:100%;
            height: 100%;
            display: grid;
            align-self: flex-start;

            .input-field{
                padding:5px 15px;
                @include transition(0.25s);

                label{
                    display:block;
                    font-family: 'Montserrat';
                }

                input{
                    width: 100%;
                    padding:5px 10px;
                    box-sizing: border-box;
                    font-family: 'Montserrat';
                }

                &:hover,
                &.active{
                    background: #eaeaea;
                }
                &:hover{
                    cursor: pointer;
                }
            }

        }
    }

    #images-wrapper{
        display:flex;
        border-top: 1px solid #2a2a2a;
        border-bottom: 1px solid #2a2a2a;

        .image-btn{
            flex:1;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include transition(0.25s);

            &:hover{
                cursor: pointer;
            }

            &:hover,
            &.active{
                background: #eaeaea;
            }
        }
    }

    #control-wrapper{
        display:flex;
        border-left:1px solid #2a2a2a;
        border-top: 1px solid #2a2a2a;
        border-bottom: 1px solid #2a2a2a;
        justify-content: center;
        align-items: center;

        #control{
            width:100%;
            height:100%;

        }
    }

    

    h2{
        margin:0;
        padding:0;
    }
}